# retroarch.resolution.cfg — device-specific video/resolution settings
rgui_aspect_ratio = "11"
video_adaptive_vsync = "false"
video_aspect_ratio = "1.333300"
video_aspect_ratio_auto = "false"
video_autoswitch_pal_threshold = "54.500000"
video_autoswitch_refresh_rate = "0"
video_bfi_dark_frames = "1"
video_black_frame_insertion = "0"
video_context_driver = ""
video_ctx_scaling = "false"
video_disable_composition = "true"
video_driver = "gl"
video_force_aspect = "true"
video_force_srgb_disable = "true"
video_frame_delay = "0"
video_frame_delay_auto = "false"
video_fullscreen = "true"
video_hard_sync = "false"
video_hard_sync_frames = "0"
video_hdr_expand_gamut = "true"
video_hdr_paper_white_nits = "200.000000"
video_max_frame_latency = "1"
video_max_swapchain_images = "3"
video_monitor_index = "0"
video_notch_write_over_enable = "false"
video_refresh_rate = "60.000000"
video_rotation = "0"
video_scale = "1"
video_scale_integer = "false"
video_scale_integer_axis = "0"
video_scale_integer_scaling = "0"
video_shared_context = "false"
video_smooth = "false"
video_swap_interval = "1"
video_threaded = "false"
video_viewport_bias_x = "0.500000"
video_viewport_bias_y = "0.500000"
video_vsync = "true"
video_waitable_swapchains = "true"
video_window_custom_size_enable = "false"
video_window_opacity = "100"
video_window_save_positions = "false"
video_window_show_decorations = "false"
video_windowed_fullscreen = "false"
video_windowed_position_height = "0"
video_windowed_position_width = "0"
video_windowed_position_x = "0"
video_windowed_position_y = "0"
video_fullscreen_x = "1280"
video_fullscreen_y = "720"
video_window_auto_width_max = "1280"
video_window_auto_height_max = "720"
custom_viewport_width = "1280"
custom_viewport_height = "720"
