# Game Gear - Integer scale, With Logo for Anbernic RG35XX Series
# Use with Main Menu > Settings > Video > Scaling > Integer Scale set to On
# Aspect Ratio > 4:3 (Game Gear did not have square pixels so don't use Core Provided)
# 
# Created by antiKk for use in the muOS CFW
# https://muos.xonglebongle.com
# This should work on any retroarch device with 640x480 screen.
# 
# Original logos, artwork and trademarks are property of their respective owners. 
# Not for commercial use.

overlays = 1
overlay0_overlay = gg_int_ant.png
overlay0_full_screen = true
overlay0_descs = 0
overlay0_name = "overlay0"
overlay0_normalized = "true"